.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding: 0 30px;
}
.header .logo-container {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}
.header h2 {
  display: flex;
  gap: 5px;
  font-size: 25px;
}
.header .sub-text {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header .header-messages {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
}
.header-messages .welcome-text {
  text-align: center;
}
.header .header-messages hr {
  height: 1px;
  border: none;
  background: #ccc;
  margin: 10px 0;
}
.header .header-messages ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 15px;
}
.header .header-messages ul li {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 10px;
  align-items: center;
}
.header a {
  margin-top: 20px;
  cursor: pointer;
  max-width: 250px;
  width: 30%;
  border-radius: 20px;
  border: none;
  color: var(--primary);
  font-weight: bold;
  background: #fff;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.header a:hover,
.header a:active {
  background: #f8f8f8;
}
