.verify {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.verify .verify-top {
  position: absolute;
  top: 30px;
  left: 7%;
}
.verify .verify-form {
  box-shadow: 0 0 10px #d3d3d3;
  background: #fff;
  border-radius: 12px;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}
.verify-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.verify-form form h1,
.verify-form form p {
  text-align: center;
}
.verify-form form p {
  margin: 10px 0;
}
