* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #eb793d;
  --second: #ff9d5c;
}
a {
  text-decoration: none;
  color: inherit;
}
.capitalize {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
  color: #5372f5;
}
